.info-box {
    background: antiquewhite;
    border: 1px solid #ccc;
    padding: 5px;
    position: absolute;
    pointer-events: auto !important;
    top: 100%; /* 调整为适当的值以便正确定位 */
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  .ai-icon {
    display: inline-flex;
    // flex-direction: column; // 垂直排列图标
    align-items: center;
    position: absolute;
    pointer-events: auto !important;
    bottom: 110%; /* 调整为适当的值以便正确定位 */
    left: 45%;
    gap: 10px; // Gap between icons
    margin-left: 10px; // Space between node and icons
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(251, 248, 248, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    .icon-retry, .icon-like {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      font-size: 18px; // Icon size
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.3s, transform 0.3s;
  
      &:hover {
        background-color: #f0f0f0;
      }
  
      &:active {
        transform: scale(0.9);
      }
    }
  
    .icon-retry {
      color: #ff9500; // Retry icon color
    }
  
    .icon-like {
      color: #4caf50; // Like icon color
    }
  }
  